@font-face {
  font-family: "Cabinet Grotesk - Bold";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rbga(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  max-width: 496px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 28px 28px 36px 28px;
  margin: 0;
  position: relative;
}

.modal__title {
  font-family: "Cabinet Grotesk - Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.modal__close-button {
  background-image: url("../../images/modal-close-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  right: 28px;
  top: 28px;
  cursor: pointer;
}

.modal__submit-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  color: #fff;
  border-color: none;
  padding: 8px 16px;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  margin-top: 32px;
}

.modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
