.toggleSwitch {
  display: flex;
  position: relative;
}

.toggleSwitch__box {
  border-radius: 25px;
  border: 2px solid rgba(126, 126, 126, 1);
  width: 55px;
  height: 30px;
  appearance: none;
}

.toggleSwitch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #f3f3f3;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.toggleSwitch__slider-F {
  top: 3px;
  left: 28px;
}

.toggleSwitch__slider-C {
  top: 3px;
  left: 5px;
}

.toggleSwitch__temp-F {
  position: absolute;
  top: -13px;
  left: 39px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.toggleSwitch__temp-C {
  position: absolute;
  top: -13px;
  left: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.toggleSwitch__active-C {
  font-size: 20px;
  color: #f3f3f3;
  top: -13px;
  font-weight: 700;
}

.toggleSwitch__active-F {
  font-size: 20px;
  color: #f3f3f3;
  top: -13px;
  font-weight: 700;
}
