@font-face {
  font-family: "Cabinet Grotesk - Bold";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
}

.card__container {
  position: relative;
  display: flex;
  justify-content: center;
}

.card__image {
  width: 325px;
  height: 325px;
  max-width: 330px;
  max-height: 330px;
  border-radius: 20px;
}

.card__info {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: row;
  top: 16px;
  align-items: center;
}

.card__name {
  margin: 0 auto;
  font-family: "Cabinet Grotesk - Bold", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 2px 12px;
  background-color: rgba(255, 255, 255, 1);
}

.card__like-button {
  width: 18px;
  height: 16px;
  background-image: url(../../images/like-button-black.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.card__like-button-inactive {
  background-color: transparent;
  background-image: url(../../images/like-button.svg);
}

.card__like-button-hidden {
  visibility: hidden;
}
