.card__container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card__image {
  max-width: 328px;
  max-height: 328px;
  border-radius: 20px;
}

.card__name {
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
}
