@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
}

.sidebar__container {
  max-width: 230px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: 116px;
  align-self: flex-start;
}

.sidebar__avatar {
  padding-right: 16px;
}

.sidebar_profile-name {
  width: 157px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
