@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
}

.clothes__section-container {
  display: flex;
  flex-direction: column;
}

.clothes__section-card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-top: 0px;
}

.clothes__section-header-container {
  display: flex;
  margin-bottom: 0;
}

.clothes__section-text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  padding-right: 20px;
}

.clothes__section-button {
  border: none;
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
}
